body{
  background-color: #EAEAEA;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p{
  color: #161618;
  font-family: 'Work Sans', sans-serif;

}

h1{
  font-size: 38px;
  
}

.text{
  font-size: 16px;
  line-height: 1.9em;
  position: relative;
  padding-top: 1em;
}

/* Navbar css*/
.navbar {
  display: -webkit-box !important;
  padding: 0px !important;
  transition: 1s;
  height: 0vh;
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  background: #161618 !important; }

.navbar ul {
  text-align: center;
  margin-left: auto !important;
  margin-right: 50px !important;
  opacity: 0;
  transition-delay: .2s;
  transition-duration: .2s; }

.navbar ul li {
  font-size: 3vw;
  line-height: initial;
  text-align: right; }
  @media only screen and (max-width: 768px) {
    .navbar ul li {
      font-size: 4vw; } }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-family: 'Work Sans', sans-serif;
}

.navbar-brand {
  margin-top: -30px;
  font-size: 53px !important;
  font-family: 'Pacifico', cursive;
  color: #fff;
  z-index: 1001;
  position: fixed;
  top: 7px;
  left: 10px;
}

  .navbar-brand img{
    background: #161618;
    height: 50px;
    border-radius: 50%;
  }

.navbar-toggler {
  z-index: 1001;
  position: fixed;
  top: 18px;
  right: 10px; }

.animated-icon1 {
  width: 25px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.animated-icon1 span {
  background: #161618; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 10px; }

.animated-icon1 span:nth-child(3) {
  top: 20px; }

.animated-icon1.open span:nth-child(1) {
  background-color: white;
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.animated-icon1.open span:nth-child(3) {
  background-color: white;
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  /* End navbar css*/

.intro-section{
    z-index: 2;
    animation-delay: 2s;
    animation: colorchange 11s infinite 1.25s; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 11s infinite 1.25s; /* Chrome and Safari */
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
}

.image-block{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
  .image-block img{
    margin-top: -20px;
    align-items: center;
    width: 90vw;
  }

  .image-header{
    font-family: Work Sans,sans-serif;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 5px;
    line-height: 1.5em;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
  }
    .image-subtitle{
      margin-top: 20px;
      font-family: Work Sans,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 1.5em;
      text-transform: none;
    }

      .image-subtitle img{
        margin-top: 0 !important;
        height: 20px;
        width: 20px;
      }
/* End intro section */

/*Interactive Phone*/
.solution-text-container{
  margin-top: 150px;
}

#phone-container {
  margin-top: 40px;
  display: flex; }

.container-phone .alert-phone {
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 0.2s; }

.container-phone.alert-is-shown .alert-phone {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(-50%);
  opacity: 1; }

.container-phone {
  align-self: flex-end;
  margin: 30px auto;
  padding: 0px;
  background: url("https://images.pexels.com/photos/1886516/pexels-photo-1886516.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  border: 10px solid #000;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px / 20px 20px 20px 20px; }
  .container-phone::before {
    content: "";
    background: #000;
    position: absolute;
    z-index: 21;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px; }
  .container-phone::after {
    content: "";
    background: #282727;
    position: absolute;
    z-index: 20;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 20px; }

.alert-phone {
  text-align: center;
  width: 90%;
  height: 60px;
  left: 5%;
  bottom: 70px;
  background: #e9f4f8;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10; }

.note-phone {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 12px monospace;
  color: #999;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  z-index: 21; }

.container-tablet.alert-tablet {
  transform: translateY(150%);
  transition-timing-function: ease-in;
  transition: 0.2s; }

.container-tablet.alert-is-shown .alert-tablet {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(-300%);
  opacity: 1; }

.container-tablet {
  align-self: flex-end;
  margin: 30px auto;
  background: url("https://images.pexels.com/photos/1070345/pexels-photo-1070345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  width: 270px;
  border: 10px solid #000;
  height: 390px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px / 20px 20px 20px 20px; }
  .container-tablet::before {
    content: "";
    background: #000;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px; }
  .container-tablet::after {
    content: "";
    background: #282727;
    position: absolute;
    z-index: 19;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 28px; }

.alert-tablet {
  transition: 0.25s;
  transition-timing-function: ease-out;
  width: 90%;
  height: 60px;
  left: 5%;
  bottom: -8px;
  background: #e9f4f8;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  text-align: center; }

.note-tablet {
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 12px monospace;
  color: #999;
  text-transform: uppercase;
  z-index: 21;
  height: 36px;
  width: 37px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #phone-container {
    display: block; }

  .container-phone {
    margin-top: 20px;
    margin-bottom: 20px; }

  .container-tablet {
    margin-bottom: 20px; }

  .container-laptop {
    margin-bottom: 20px; } }
/* end interactive phone*/
      
.content-section{
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #EAEAEA;
}

.content-title{
    font-size: 160px;
    font-weight: bold;
    line-height: .6;
    position: relative;
    z-index: 2;
    text-align: left;
    color: #161618;
}

.content-box-left{
  color: #fff;
  background-color: #2B2F3C;
  height: 100%;
  padding: 75px 50px;
}

  .content-divider{
    display: block;
    position: relative;
    height: 3px;
    background-color: currentColor;
    width: 60px;
    margin-top: 70px;
    margin-bottom: 10px;
  }

  .text{
    font-size: 16px;
    line-height: 1.9em;
    position: relative;
    padding-top: 1em;
  }

.content-box-right{
  background-color: #9BA5B5;
  padding: 75px 50px;
}

@media only screen and (max-width: 900px) {
  .content-title{
    font-size: 19vw;
  }

  .container{
    
  }
}

  @keyframes colorchange
  {
    0%   {background: #EAEAEA;}
    33%   {background: #CBEDE9;}
    66%  {background: #FBC4C4;}
    100%  {background: #EAEAEA;}

  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: #EAEAEA;}
    33%   {background: #CBEDE9;}
    66%  {background: #FFBBBA;}
    100%  {background: #EAEAEA;}
  }